{% if site.curriculum == "dc-socsci" %}
<div class="row">
  <div class="col-md-4">
    <h3>Day 1: January 26, 9 AM - 12 PM</h3>
    <h4>Setup and troubleshooting: Becca and Namig</h4>
    <h4>Introduction to R: Becca</h4>
    <h4>Starting with Data: Becca and Namig (from inspecting data frames)</h4>
    <h4>Data wrangling with dplyr: Namig</h4>
  </div>
  <div class="col-md-4">
    <h3>Day 2: February 2, 9 AM - 12 PM</h3>
    <h4>Troubleshooting: Becca and Namig</h4>
    <h4>Data wrangling with tidyr: Becca</h4>
    <h4>Data visualization: Namig</h4>
  </div>
  <div class="col-md-4">
    <h3>Day 3: February 5, 9 AM - 12 PM</h3>
    <h4>Troubleshooting: Becca and Namig</h4>
    <h4>Getting started with R-Markdown: Becca</h4>
    <h4>Processing Json files: Becca</h4>
    <h4>Data Scraping (30 minutes): Namig (For this part, I am thinking to first quickly talk about types of data scraping and then show some web scraping in R)</h4>
    <h4>Network Analysis (30-minute introduction): Namig</h4>
  </div>
</div>
{% endif %}
